body {
  text-align: center;
  font-family: cursive;
}

.overlay {
  /* cover the screen */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* place it above the canvas, which will be its sibling */
  z-index: 1;

  background: black; /* fallback background color */
  background: rgba(0, 0, 0, 0.5);

  /* center the contents */
  /* TODO: add appropriate browser prefixes */
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;

  transition: background 0.3s, opacity 0.3s;
}

.overlay.hidden {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}

/* TODO: transition the form off the page to prevent the cursor from behaving like it's still on page */
.game-choices {
  background: white;
  padding: 1em;
  border-radius: 10px;
}

fieldset:not(:last-child) {
  /* add spacing beneath each fieldset except the last one */
  margin-bottom: 1em;
}

label,
input {
  cursor: pointer;
}

label {
  /* TODO: add appropriate browser prefixes */
  display: inline-flex;
  align-items: center;
}

button[name="start"] {
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.game-container {
  width: 800px;
  margin: auto;

  /* TODO: add appropriate browser prefixes */
  display: flex;

  /* vertically center child sections */
  align-items: center;
}

.game-container .metrics {
  width: 30%;

  /* TODO: add appropriate browser prefixes */
  display: flex;
  align-items: center;
  justify-content: center;

  /* stack its immediate child sections vertically */
  flex-flow: row wrap;
}

.metrics .timer {
  font-size: 2em;
}

.red-text {
  color: red;
}

.collectibles {
  margin: 1.5em 0 0;
  width: 70%;
}

.collectibles .collectible {
  /* TODO: add appropriate browser prefixes */
  display: flex;

  /* place both immediate child sections side by side */
  flex-flow: row nowrap;
}

.collectible div {
  width: 50%;
}

.collectible img {
  width: 100%;
}

.collectible p {
  font-size: 1.2em;
  width: 50%;

  /* TODO: add appropriate browser prefixes */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container .canvas {
  width: 70%;
}
