/* TODO: add polyfill for CSS variables */
/* see https://github.com/jhildenbiddle/css-vars-ponyfill */
:root {
  --game-width: 800px;
}

body {
  text-align: center;
  font-family: cursive;
}

.overlay {
  /* cover the screen */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* place it above its siblings */
  z-index: 2;

  background: black; /* fallback background color */
  background: rgba(0, 0, 0, 0.5);

  /* center the contents */
  /* TODO: add appropriate browser prefixes */
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;

  transition: background 0.5s, opacity 0.5s;
}

.hidden {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}

.game-choices {
  background: white;
  padding: 1em;
  border-radius: 10px;

  /* enable off screen transition for when it's hidden */
  position: relative;
  top: 0;
  transition: top 0.5s;
}

.hidden .game-choices {
  top: -999px;
}

fieldset:not(:last-child) {
  /* add spacing beneath each fieldset except the last one */
  margin-bottom: 1em;
}

label,
input {
  cursor: pointer;
}

label {
  /* TODO: add appropriate browser prefixes */
  display: inline-flex;
  align-items: center;
}

button {
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.game-container {
  width: var(--game-width);
  margin: auto;

  /* enable custom placement of any children */
  position: relative;

  /* TODO: add appropriate browser prefixes */
  display: flex;

  /* vertically center child sections */
  align-items: center;
}

.game-container .metrics {
  width: 30%;

  /* TODO: add appropriate browser prefixes */
  display: flex;
  align-items: center;
  justify-content: center;

  /* stack its immediate child sections vertically */
  flex-flow: row wrap;
}

.metrics .timer {
  font-size: 2em;
}

/* to be used wherever red text is needed */
.red-text {
  color: #ff1f1f;
}

.collectibles {
  margin: 1.5em 0 0;
  width: 70%;
}

.collectibles .collectible {
  /* TODO: add appropriate browser prefixes */
  display: flex;

  /* place both immediate child sections side by side */
  flex-flow: row nowrap;
}

.collectible div {
  width: 50%;
}

.collectible img {
  width: 100%;
}

.collectible p {
  font-size: 1.2em;
  width: 50%;

  /* TODO: add appropriate browser prefixes */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container .canvas {
  width: 70%;
}

.game-end {
  /* initially off-screen */
  position: absolute;
  top: -999px;

  /* cover the game-grid */
  left: calc((var(--game-width) * 0.3)); /* left edge starts where metrics ends */
  width: calc((var(--game-width) * 0.7)); /* same width as game grid section */
  height: 100%; /* cover the full height of the grid */

  /* place above game container but below choices modal */
  z-index: 1;

  background: white;

  /* center contents */
  /* TODO: add appropriate browser prefixes */
  display: flex;
  justify-content: center;
  align-items: center;

  transition: top 0.5s;
}

.shown {
  top: 0;
}

.game-end .message,
.game-end .total {
  font-size: 2em;
}

/* to be used wherever green text is needed */
.green-text {
  color: #3bbe00;
}
